/bin
/dev
/pub
/generated
/lib
/phpserver
/setup
/var
/vendor
/tools
.editorconfig
.htaccess.sample
composer.lock
Gruntfile.js.sample  
nginx.conf           
SECURITY.md
auth.json.sample  
COPYING.txt               
launch.json          
nginx.conf.sample                    
package.json.sample
CHANGELOG.md                
LICENSE_AFL.txt           
composer.json     
grunt-config.json.sample  
LICENSE.txt
.htaccess
.php_cs.dist
.user.ini