.content {
    margin: auto 10%;
}
.block-content {
    display: flex;
    justify-content: space-between;
    width: 897px;
    border-bottom: solid 2px gray;
}
.column-content {
    width: 633px;
}
.row-content {
    display: flex;
}
.title-content {
    width: 192px;
}
.custom {
    width: 239px;
}
.block-content-head {
    display: flex;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}
.block-content-product .block-content,
.block-content-head .block-content {
    width: 572px;
}
.block-content-product .title-content,
.block-content-head .title-content {
    margin-right: 130px;
}
.block-content-product .block-content:last-child,
.block-content-head .block-content:last-child {
    border-bottom: none;
}
.block-content-product {
    width: 897px;
    display: flex;
    border-bottom: solid 2px gray;
}
.button-victoria {
    background-color: #ef5f96;
    color: #ffffff;
    font-weight: bold;
    padding: 18px 42px;
    font-size: 19px; 
}